<!- deleteBook.html -->
<html>
  <head></head>
  <body>
    <h1>Delete Book</h1>
    {% if books == [] %}
    {% else %}
      {% for i in books %}
          <p>Are you sure you want to delete {{i.title}}?</p>
      {% endfor %}
    {% endif %}
    <form action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST'>
      <input type='submit' value='Delete' name='button'>
      <a href="{{url_for('showBook')}}">Cancel</a>
    </form>
  </body>
</html>
